.rain {
    background-image: linear-gradient($clouds-color-1, $clouds-color-2);
    /* background-image: url("../img/rain.jpg"); */
}

.snow {
    background-image: linear-gradient($clouds-color-1, $clouds-color-2);
    /* background-image: url("../img/snow.jpg"); */
}

.night {
    background-image: linear-gradient($clouds-color-1, $clouds-color-2);
    /* background-image: url("../img/night.jpg"); */
}

.fog {
    background-image: linear-gradient($clouds-color-1, $clouds-color-2);
    /* background-image: url("../img/fog.jpg"); */
}

.clouds {
    background-image: linear-gradient($clouds-color-1, $clouds-color-2);
    /* background-image: url("../img/clouds.jpg"); */
}

.clear {
    background-image: linear-gradient($clear-sky-color-1, $clear-sky-color-2);
}