* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: linear-gradient($clouds-color-1, $clouds-color-2);
    /* background-image: url("../img/clouds.jpg"); */
    background-size: cover;
    background-blend-mode: overlay;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: $font-color;
    @include mq(768px) {
        font-size: 22px;
    }
}

body {
    width: 100%;
    min-height: 100vh;
    @include flexCenter;
    flex-direction: column;
    padding: 0.5rem;
}

header {
    width: 100%;
    max-width: 700px;
    max-height: 200px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    color: $font-color;
    background-color: $mask-color;
    border: 1px solid $border-color;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    @include mqMaxWMinH(1024px, 650px) {
        backdrop-filter: blur(3px);
    }
}

main {
    width: 100%;
    max-width: 700px;
    max-height: 800px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: $font-color;
    background-color: $mask-color;
    border: 1px solid $border-color;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    @include mqMaxWMinH(1024px, 650px) {
        backdrop-filter: blur(3px);
    }
}

img {
    display: block;
}

hr {
    width: 90%;
    margin: auto;
    border: 1px solid $border-color;
}

.none {
    display: none;
}

.block {
    display: block;
}

