$font-color: #fff;
$background-color: rgba(11, 11, 17, 0.663);
$fog-color: darkslategray;
$night-color: rgba(2, 1, 58, 0.5);
$mask-color: rgba(0, 0, 0, 0.1);
$button-color: transparent;
$border-color: lightgray;
$container-bgcolor: #f2f2f2;
$button-textcolor: #fff;
$shadow-color: #fff;
$text-shadow-color: #000;
$fade-color: rgba(255, 255, 255, 0.6);