$font-color: #fff;
$background-color: rgba(11, 11, 17, 0.663);
$clear-sky-color-1: #3f87cf;
$clear-sky-color-2: #4181b9;
$clouds-color-1: #5d5da2;
$clouds-color-2: #677ab6;
$night-color-1: #2e4482;
$night-color-2: #546bab;
$mask-color: rgba(0, 0, 0, 0.1);
$button-color: transparent;
$border-color: lightgray;
$container-bgcolor: #f2f2f2;
$button-textcolor: #fff;
$shadow-color: #fff;
$text-shadow-color: #000;
$fade-color: rgba(255, 255, 255, 0.6);